.game {
    margin: 80px auto auto auto;
}

.game h1 {
    font-size: 2.5em;
}

.points span {
    font-weight: bold;
}

.tip span {
    color: rgb(123, 223, 35);
}

.wordContainer {
    margin: 1.5em ;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(230, 156, 19);
}

.letter, .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: white;
    color: black;
    font-weight: bold;
}

.letterContainer {
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}