@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgba(19, 19, 19);
    color: white;
}

button {
    background-color: rgb(230, 156, 19);
    border-style: none;
    border-radius: 20px;
    border: 2px solid white;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(234, 167, 42);
}

h1 {
    font-family: "Bungee Spice", sans-serif;
    font-size: 40px;
}

p {
    font-weight: bold;
    font-size: 20px;
}